.upper-heading{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    position: static;
}
.upper-heading span{
    font-family: Poppins;
    font-size: 14px;
}
.other-navbar{
    background: #FFFFFF !important;
    box-shadow: 0px 9px 12px 0px #204A6912 !important;
    color: black !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lower-navbar{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%) !important;
    box-shadow: none !important;
    color: black !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.css-100ek8v-MuiButtonBase-root-MuiButton-root{
    text-transform: none !important;
}
.booking-btn{
    background-color: var(--primary-color) !important;
}